/*primary*/
/*neutral*/
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-family: 'Public Sans', sans-serif;
  font-size: 1rem;
  line-height: 1.3;
  overflow-x: hidden;
  height: 100%;
}

body {
  height: 100%;
  overflow-x: hidden;
}

h1 {
  font-size: 1.75rem;
  color: #2d314d;
}

p {
  font-size: .875rem;
  font-weight: 300;
  color: #9698a6;
}

a, a:hover, a:visited {
  text-decoration: none;
}

@-webkit-keyframes fade-in {
  from {
    visibility: hidden;
    opacity: 0;
  }
  1% {
    visibility: visible;
    opacity: 0;
  }
  to {
    visibility: visible;
    opacity: 1;
  }
}

@keyframes fade-in {
  from {
    visibility: hidden;
    opacity: 0;
  }
  1% {
    visibility: visible;
    opacity: 0;
  }
  to {
    visibility: visible;
    opacity: 1;
  }
}

.fade-in {
  -webkit-animation: fade-in 200ms ease-in-out forwards;
          animation: fade-in 200ms ease-in-out forwards;
}

@-webkit-keyframes fade-out {
  from {
    visibility: visible;
    opacity: 1;
  }
  99% {
    visibility: visible;
    opacity: 0;
  }
  to {
    visibility: hidden;
    opacity: 0;
  }
}

@keyframes fade-out {
  from {
    visibility: visible;
    opacity: 1;
  }
  99% {
    visibility: visible;
    opacity: 0;
  }
  to {
    visibility: hidden;
    opacity: 0;
  }
}

.fade-out {
  -webkit-animation: fade-out 200ms ease-in-out forwards;
          animation: fade-out 200ms ease-in-out forwards;
}

.container {
  padding-right: 1.5rem;
  padding-left: 1.5rem;
  max-width: 64rem;
  margin: auto;
}

.flex, .flex-row, .flex-col, header .ham-menu, .hero, .hero .container, .flex-col-al {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.flex-row {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.flex-col, header .ham-menu, .hero, .hero .container {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.flex-col-al {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.btn {
  font-weight: 700;
  text-align: center;
  color: #f3f4f6;
  background: -webkit-gradient(linear, left top, right top, from(#31d35c), color-stop(90%, #2bb7da));
  background: linear-gradient(to right, #31d35c, #2bb7da 90%);
  border-radius: 40px;
  padding: .6875rem 1.25rem;
  overflow: hidden;
  -webkit-transition: opacity 100ms ease-in-out;
  transition: opacity 100ms ease-in-out;
}

.btn:hover {
  opacity: 0.7;
  cursor: pointer;
}

.no-scroll {
  overflow: hidden;
}

.fade {
  visibility: hidden;
}

.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: white;
  -webkit-box-shadow: rgba(3, 8, 20, 0.1) 0px 0.15rem 0.5rem, rgba(2, 8, 20, 0.1) 0px 0.075rem 0.175rem;
          box-shadow: rgba(3, 8, 20, 0.1) 0px 0.15rem 0.5rem, rgba(2, 8, 20, 0.1) 0px 0.075rem 0.175rem;
  width: 100%;
  border-radius: 2%;
  -webkit-transition: all 500ms;
  transition: all 500ms;
  overflow: hidden;
  margin: 1.5rem 0;
}

.card:hover {
  -webkit-box-shadow: rgba(2, 8, 20, 0.1) 0px 0.35em 1.175em, rgba(2, 8, 20, 0.08) 0px 0.175em 0.5em;
          box-shadow: rgba(2, 8, 20, 0.1) 0px 0.35em 1.175em, rgba(2, 8, 20, 0.08) 0px 0.175em 0.5em;
  -webkit-transform: translateY(-3px) scale(1.05);
          transform: translateY(-3px) scale(1.05);
}

.pd-rl {
  padding-right: 1.875rem;
  padding-left: 1.875rem;
}

@media (max-width: 63.99em) {
  .hide-mobile {
    display: none !important;
  }
}

@media (min-width: 64em) {
  .hide-desktop {
    display: none !important;
  }
}

header {
  background-color: white;
  position: relative;
  z-index: 1;
  width: 100%;
}

header .open > span:first-child {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

header .open > span:nth-child(2) {
  opacity: 0;
}

header .open > span:last-child {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

header nav {
  padding: 1.0rem 0;
}

header .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .logo img {
  width: 9.375rem;
  height: 1.875rem;
}

header .navlinks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header .navlinks > a {
  text-align: center;
  position: relative;
  font-weight: 500;
  margin: .625rem;
  color: #9698a6;
  -webkit-transition: color 200ms ease-in-out;
  transition: color 200ms ease-in-out;
}

header .navlinks > a::before {
  content: "";
  width: 100%;
  display: block;
  position: absolute;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: -webkit-gradient(linear, left top, right top, from(#31d35c), to(#2bb7da));
  background: linear-gradient(to right, #31d35c, #2bb7da);
  height: .3125rem;
  left: 0px;
  right: 0px;
  bottom: -1.75rem;
  opacity: 0;
  -webkit-transition: opacity 200ms ease-in-out;
  transition: opacity 200ms ease-in-out;
}

header .navlinks > a:hover {
  color: #2d314d;
}

header .navlinks > a:hover::before {
  opacity: 1;
}

header .ham-menu {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 0.3125rem;
}

header .ham-menu > span {
  display: inline-block;
  width: 1.5625rem;
  height: .125rem;
  background-color: #2d314d;
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
  -webkit-transform-origin: 3px 1px;
          transform-origin: 3px 1px;
}

header .mobile-menu {
  position: absolute;
  background-color: white;
  width: calc(100% - 3rem);
  margin-top: 1.5rem;
  border-radius: 5px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

header .mobile-menu > a {
  display: block;
  color: #2d314d;
  text-align: center;
  padding: .85rem;
}

header .mobile-menu a:last-child {
  margin-bottom: .3125rem;
}

.overlay {
  display: block;
  z-index: 1;
  position: fixed;
  opacity: 0;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#2d314d), to(transparent));
  background-image: linear-gradient(#2d314d, transparent);
}

.hero {
  background-color: #fafafa;
  position: relative;
}

.hero .container {
  position: relative;
}

@media (min-width: 64em) {
  .hero {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }
  .hero .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }
}

.hero .hero-image {
  position: relative;
  height: 17.5rem;
}

.hero .hero-image::before {
  content: "";
  position: absolute;
  background-image: url(../images/bg-intro-mobile.svg);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  height: 100%;
  left: -9%;
  width: 150%;
}

.hero .hero-image::after {
  content: "";
  position: absolute;
  background-image: url(../images/image-mockups.png);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center bottom;
  width: 100%;
  height: 155%;
  top: -48%;
  max-width: 360px;
  right: 50%;
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
}

@media (min-width: 64em) {
  .hero .hero-image {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    -webkit-box-flex: 3;
        -ms-flex: 3;
            flex: 3;
    height: 41rem;
    position: relative;
  }
  .hero .hero-image::before {
    content: "";
    position: absolute;
    background: url(../images/bg-intro-desktop.svg);
    background-repeat: no-repeat;
    background-size: auto;
    background-position-x: left;
    background-position-y: -17rem;
    width: 150%;
    height: 100%;
  }
  .hero .hero-image::after {
    position: absolute;
    background-size: 100%;
    background-position: center center;
    width: 120%;
    height: 133%;
    top: -17%;
    max-width: 500%;
    right: -55%;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@media (min-width: 64em) and (max-width: 81.2em) {
  .hero .hero-image {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    -webkit-box-flex: 3;
        -ms-flex: 3;
            flex: 3;
    height: 41rem;
  }
  .hero .hero-image::before {
    content: "";
    position: absolute;
    background: url(../images/bg-intro-desktop.svg);
    background-repeat: no-repeat;
    background-size: auto;
    background-position-x: left;
    background-position-y: -17rem;
    width: 150%;
    height: 100%;
  }
  .hero .hero-image::after {
    position: absolute;
    background-size: 96%;
    background-position: center center;
    width: 120%;
    height: 133%;
    top: -16%;
    max-width: 500%;
    right: -28%;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

.hero .hero-intro {
  margin-top: 1.25rem;
}

.hero .hero-intro h1 {
  text-align: center;
  margin-bottom: 1.5625rem;
  font-weight: 700;
}

.hero .hero-intro p {
  font-size: 1rem;
  text-align: center;
  margin-bottom: 1.5rem;
}

@media (min-width: 43em) {
  .hero .hero-intro h1 {
    font-size: 1.75rem;
  }
  .hero .hero-intro p {
    font-size: 1.125rem;
  }
}

.hero .hero-intro .cta-desktop {
  display: none;
}

@media (min-width: 64em) {
  .hero .hero-intro {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    -webkit-box-flex: 2;
        -ms-flex: 2;
            flex: 2;
    padding-right: 0px;
  }
  .hero .hero-intro h1 {
    text-align: left;
    font-size: 2.5rem;
    margin-top: 7.5rem;
  }
  .hero .hero-intro p {
    text-align: left;
    font-size: 1.25rem;
  }
  .hero .hero-intro .cta-desktop {
    display: inline-block;
    margin-bottom: 6rem;
  }
}

.hero .cta {
  margin-bottom: 5rem;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

@media (min-width: 64em) {
  .hero .cta {
    display: none;
  }
}

.feature {
  background-color: #f3f4f6;
}

.feature h1, .feature h2 {
  text-align: center;
  color: #2d314d;
  font-weight: 400;
  margin-bottom: 1.5625rem;
}

.feature h1 {
  max-width: 50%;
  margin-right: auto;
  margin-left: auto;
}

.feature h2 {
  font-size: 1.25rem;
}

.feature p {
  text-align: center;
  font-size: 1rem;
  color: #9698a6;
  margin-bottom: 1.875rem;
}

.feature .container .title {
  padding-top: 4rem;
  padding-bottom: 1rem;
}

.feature .container img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
  width: 4.625rem;
  height: 4.625rem;
}

.feature .container .open-api {
  padding-bottom: 3.75rem;
}

@media (min-width: 64em) {
  .feature h1, .feature h2, .feature p {
    text-align: left;
    max-width: 100%;
  }
  .feature .container p {
    font-size: .875rem;
  }
  .feature .container .title {
    max-width: 56%;
  }
  .feature .container .title p {
    font-size: 1.125rem;
  }
  .feature .container .features {
    display: -ms-grid;
    display: grid;
    gap: 1.3rem;
    -ms-grid-columns: (minmax(12.5rem, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(12.5rem, 1fr));
    padding-bottom: 3.75rem;
  }
  .feature .container .features img {
    margin-right: 0;
    margin-left: 0;
  }
  .feature .container .features .open-api {
    padding-bottom: 0;
  }
}

.articles {
  background-color: #fafafa;
  padding-top: 5.625rem;
  padding-bottom: 5.625rem;
}

.articles .container h1 {
  font-weight: 400;
  text-align: center;
  margin-bottom: 2.5rem;
}

.articles .container .card {
  max-width: 35rem;
  margin-right: auto;
  margin-left: auto;
}

.articles .container .card img {
  height: 12.5rem;
  max-height: 12.5rem;
}

.articles .container .card address {
  color: #9698a6;
  font-size: .75rem;
  font-style: normal;
  margin-top: 1.625rem;
  margin-bottom: .875rem;
}

.articles .container .card address a {
  color: #9698a6;
}

.articles .container .card h2 {
  font-size: 1rem;
  font-weight: 300;
  color: #2d314d;
  margin-bottom: .875rem;
  -webkit-transition: all 100ms ease-in-out;
  transition: all 100ms ease-in-out;
}

.articles .container .card h2:hover {
  color: #31d35c;
}

.articles .container .card p {
  padding-bottom: 2.5rem;
}

@media (min-width: 43em) {
  .articles .container h1 {
    font-size: 2.25rem;
  }
  .articles .container .items {
    display: -ms-grid;
    display: grid;
    gap: 1rem;
    -ms-grid-columns: (minmax(19.5rem, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(19.5rem, 1fr));
  }
}

@media (min-width: 64em) {
  .articles .container h1 {
    text-align: left;
    font-size: 2.25rem;
  }
  .articles .container .items {
    display: -ms-grid;
    display: grid;
    gap: 1.5rem;
    -ms-grid-columns: (minmax(14rem, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(14rem, 1fr));
  }
}

.footer {
  background-color: #2d314d;
  padding-bottom: 3.5rem;
}

.footer .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2rem 1.5rem;
}

.footer .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer .logo img {
  padding-bottom: 2rem;
  display: block;
  margin: 0 auto;
  -webkit-filter: invert(100%) sepia(50%) saturate(617%) hue-rotate(182deg) brightness(115%) contrast(200%);
          filter: invert(100%) sepia(50%) saturate(617%) hue-rotate(182deg) brightness(115%) contrast(200%);
}

.footer .social-media > a {
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
  margin-bottom: 2rem;
  margin-right: 0.375rem;
  margin-left: 0.375rem;
  display: inline-block;
  -webkit-mask-size: cover;
          mask-size: cover;
  width: 20px;
  height: 20px;
  background: white;
}

.footer .social-media > a:hover {
  cursor: pointer;
}

.footer .social-media .face-icon {
  -webkit-mask: url("../images/icon-facebook.svg");
          mask: url("../images/icon-facebook.svg");
}

.footer .social-media .face:hover {
  background: #1877f2;
}

.footer .social-media .youtube-icon {
  -webkit-mask: url("../images/icon-youtube.svg");
          mask: url("../images/icon-youtube.svg");
}

.footer .social-media .youtube:hover {
  background: #ff0000;
}

.footer .social-media .twitter-icon {
  -webkit-mask: url("../images/icon-twitter.svg");
          mask: url("../images/icon-twitter.svg");
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
}

.footer .social-media .twitter:hover {
  background: #1da1f2;
}

.footer .social-media .pin-icon {
  -webkit-mask: url("../images/icon-pinterest.svg");
          mask: url("../images/icon-pinterest.svg");
}

.footer .social-media .pin:hover {
  background-color: #bd081c;
}

.footer .social-media .insta-icon {
  -webkit-mask: url("../images/icon-instagram.svg");
          mask: url("../images/icon-instagram.svg");
}

.footer .social-media .instagram:hover {
  background-color: #c32aa3;
}

.footer .links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.5rem;
  margin-bottom: 1.5rem;
}

.footer .links a {
  color: #fafafa;
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}

.footer .links a:hover {
  color: #31d35c;
}

.footer .copyright {
  margin: 0;
}

.footer .copyright a {
  margin: 0;
}

.footer .copyright small {
  margin: 1.5625rem;
  color: #9698a6;
}

@media (min-width: 64em) {
  .footer .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 3rem 1.5rem;
  }
  .footer .container .links {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .footer .container .copyright {
    margin-left: 10%;
  }
  .footer .container .copyright a {
    margin-left: 25%;
  }
}
