header{
    background-color: $White;
    position: relative;
    z-index:1;
    width: 100%;
    .open{
        >span:first-child{
            transform: rotate(45deg);
        }
        >span:nth-child(2){
            opacity: 0;
        }
        >span:last-child{
            transform: rotate(-45deg);
        }
        
    }

    nav{
        padding:1.0rem 0;
        
        
        }
        .logo{
            display: flex;
            align-items: center;
            img{
                
                width:9.375rem;
                height:1.875rem;
            }
        }
        .navlinks{
           
            display: flex;
            >a{
                text-align: center;
                position: relative;
                font-weight: 500;
                margin: .625rem;
                color:$grayish-Blue;
                transition: color 200ms ease-in-out;
                &::before{
                    content: "";
                    width:100%;
                    display: block;
                    position: absolute;
                    box-sizing: border-box;
                    background: linear-gradient(to right, $lime-green, $bright-Cyan);
                    height: .3125rem;
                    left:0px;
                    right:0px;
                    bottom: -1.75rem;
                    opacity: 0;
                    transition: opacity 200ms ease-in-out;
                }
                &:hover{
                    color:$dark-blue;

                    &::before{
                        opacity: 1;

                    }
                    
                }

            }
            
        }

        .ham-menu{
            @extend .flex-col;
            justify-content: center;
            gap: 0.3125rem;
            >span{
                display: inline-block;
                width: 1.5625rem;
                height: .125rem;
                background-color: $dark-blue;
                transition: all 200ms ease-in-out;
                transform-origin: 3px 1px;
            }
            
        }

        .mobile-menu{
            position: absolute;
            background-color: $White;
            width: calc(100% - 3rem);
            margin-top: 1.5rem;
            border-radius: 5px;
            left:50%;
            transform: translateX(-50%);
                
            >a{
                display: block;
                color: $dark-blue;
                text-align: center;
                padding: .85rem;
                
            }
            a:last-child{
                margin-bottom: .3125rem;
            }
        }
        

     
}

.overlay{
    display: block;
    z-index: 1;
    position:fixed;
    opacity: 0;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-image: linear-gradient($dark-blue,transparent);
}

