//padding
.padding{
    padding-right: 1.3rem;
    padding-left: 1.3rem;
    @media (min-width:64em){
        padding-right: 6rem;
        padding-left: 6rem;
    }
}
//flexbox
.flex{
    display:flex;
    flex-wrap: nowrap;
    
    &-row{
        @extend .flex;
        flex-direction: row;
        justify-content:space-between;
    }
    &-col{
        @extend .flex;
        flex-direction: column;
    }

    
}
//buttons
.btn{
    font-weight: 700;
    text-align: center;
    color: $light-Grayish-Blue;
    background:linear-gradient(to right,$lime-green ,$bright-Cyan 90%);
    border-radius: 40px;
    padding: .6875rem 1.25rem;
    overflow: hidden;
    transition: opacity 100ms ease-in-out;
    &:hover{
        opacity: 0.7;
        cursor: pointer;
    }
}

.no-scroll{
    overflow: hidden;
    
}
.fade{
    visibility: hidden;
}

//hide for mobile
.hide-mobile{
    @media (max-width:63.99em) {
        display: none !important;
        
    }
    
}
//hide for desktop
.hide-desktop{
    @media (min-width:64em) {
        display: none !important;
    }
    
}